<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <link rel="stylesheet" href="../../static/css/styleDiary.css" th:href="@{/css/styleDiary.css}">
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="alert alert-success text-center text-uppercase" th:if="${param.verificar != null}">
                <p>
                    <strong>Salvo com sucesso!</strong>
                </p>
            </div>
            <div class="alert alert-success text-center text-uppercase" th:if="${param.excluir != null}">
                <p>
                    <strong>Como você vai excluir a nota se ainda nem salvou :(</strong>
                </p>
            </div>

            <form method="post" th:action="@{/diary/save-note-diary}">
                <div class="date-bar">
                    <!-- Botão voltar -->
                    <a href="#" th:href="@{/diary?offset=1}">&lt;</a>

                    <div th:each="data : ${datas}">
                        <a th:href="@{/diary(data=${data})}">
                            <span th:text="${#temporals.format(data, 'dd/MM')}"
                                  th:classappend="${data == hoje} ? 'hoje' : ''">
                            </span>
                        </a>
                    </div>

                </div>

                <div class="entry-box">
                    <textarea name="texto" id="texto" placeholder="No que está pensando? Como foi seu dia?"
                              th:text="${texto}"> </textarea>
                    <input type="hidden" name="data" th:value="${dataSelecionada}" />
                    <div class="buttons-row">
                        <button class="save-btn" type="submit">Salvar</button>
                    </div>
                </div>
            </form>

            <form method="post" th:action="@{/diary/delete-note}" >
                <div class="entry-box">
                    <input type="hidden" name="data" th:value="${dataSelecionada}" />
                    <button class="delete-btn" type="submit">Excluir</button>
                </div>
            </form>

        </div>
    </div>
</body>
</html>
