
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color:  #E5F1FF;
    color: #154580;
    box-sizing: border-box;
    text-align: center;
    min-height: 100vh;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
  }

  .logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #154580;
    font-size: 1.2em;
    white-space: nowrap;
  }
  h1 a{
      text-decoration:none;
      color: #154580;
  }
  header h1{
      font-size: 2em;
  }
  header h1 a {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
  header h1 img{
      vertical-align: middle;
  }
  .main-nav ul {
      display: flex;
      list-style: none;
      gap: 40px; /* espaço entre os itens */
      margin: 0;
      padding: 0;
  }
  .main-nav a {
      text-decoration: none;
      color: #154580;
      font-weight: bold;
  }
  .main-nav a:hover {
      background-color: white;
      color: black;
  }
  nav ul {
      list-style: none;
      align-items: center;
      gap: 20px;
      display: flex;
  }

/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown-toggle {
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  color: #154580;
  background-color: transparent;
  border: none;
  user-select: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 25px;
  right: 0;
  top: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  min-width: 120px;
  z-index: 999;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu form {
  margin: 0;
}

.dropdown-menu button {
  background-color: #154580;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #0d2f57;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
  .container_error {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      padding: 20px;
      margin-top: auto;
      margin-bottom: auto;
      height: calc(100vh - 80px);
  }
  .card_error {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
  }
