<!DOCTYPE html>
<html  lang="pt-br"
       xmlns:th="http://thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{template.html}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/styleLogin.css" th:href="@{/css/styleLogin.css}">
    <link rel="icon" type="image/png" href="/image/icons-diario.png">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="loginForm" method="post" action="#" th:action="@{/signIn}">

            <div class="alert alert-danger text-center text-uppercase" th:if="${param.error != null}">
                <p>
                    <strong>Dados inválidos!</strong>
                </p>
            </div>

            <div class="alert alert-danger text-center text-uppercase" th:if="${param.logout != null}">
                <p>
                    <strong>Você saiu!</strong>
                </p>
            </div>

            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Apelido ou número de celular" required>
            </div>
            <div class="form-group password-input">
                <input type="password" id="password" name="password" placeholder="Senha" required>
                <button type="button" id="mostrarSenha" class="password-toggle">
                    <img src="/image/Login/eye-off-icon.png" alt="Mostrar senha">
                </button>
            </div>
            <button type="submit" class="login-button">Entrar</button>
        </form>
        <div class="links">
            <a href="/HelloWorld">Esqueceu a senha?</a>
            <p>Ainda não tem conta? <a href="/signUp">Cadastrar-se</a></p>
        </div>
    </div>
    <script src="/script/scriptLogin.js"></script>
</body>
</html>