<!DOCTYPE html>
<html  lang="pt-br"
       xmlns:th="http://thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{template.html}">
<head>
    <link rel="stylesheet" href="../../static/css/styleLogin.css" th:href="@{/css/styleLogin.css}">
    <title>Ativar Conta</title>
</head>
<body>
<div layout:fragment="content">
    <div class="login-page">
        <div class="login-container">
            <h2>Ativar conta</h2>
            <form id="loginForm" method="post" action="#" th:action="@{/AtivarConta}">
                <input type="hidden" name="nickname" th:value="${nickname}">

                <div class="alert alert-danger text-center text-uppercase" th:if="${erroToken != null}">
                    <p>
                        <strong th:text="${erroToken}"></strong>
                    </p>
                </div>
                <div class="alert alert-danger text-center text-uppercase" th:if="${erro != null}">
                    <p>
                        <strong th:text="${erro}"></strong>
                    </p>
                </div>
                <div class="alert alert-success text-center text-uppercase" th:if="${resendToken != null}">
                    <p>
                        <strong th:text="${resendToken}"></strong>
                    </p>
                </div>

                <div class="form-group">
                    <input type="text" id="tokenActivation" name="tokenActivation" placeholder="Digite o código." required
                    th:value="${tokenActivation}">
                </div>
                <button type="submit" class="login-button">Ativar</button>
            </form>
            <div class="links">
                <a  th:href="@{/AtivarConta/resend-code(nickname=${nickname})}">Enviar o código novamente.</a>
            </div>
        </div>
    </div>
    <script src="/script/scriptLogin.js"></script>
</div>
</body>
</html>