<!DOCTYPE html>
<html  lang="pt-br"
       xmlns:th="http://thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{template.html}">
<head>
  <link rel="stylesheet" href="../../static/css/styleLogin.css" th:href="@{/css/styleLogin.css}">
  <title>Ativar Conta</title>
</head>
<body>
<div layout:fragment="content">
  <div class="login-page">
    <div class="login-container">
      <h2>Alterar a senha</h2>
      <form th:action="@{/esqueci-minha-senha}" method="post" th:object="${dados}">
        <input type="hidden" name="code" th:value="${param.code}">

        <div class="alert alert-danger text-center text-uppercase" th:if="${param.error != null}">
          <p>
            <strong>Dados inválidos!</strong>
          </p>
        </div>

        <div class="form-group password-input">
          <input type="password" id="password" name="password" placeholder="Nova senha" required>
          <button type="button" id="mostrarSenha" class="password-toggle">
            <img src="/image/Login/eye-off-icon.png" alt="Mostrar senha">
          </button>
          <div class="alert alert-danger text-center text-uppercase" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div class="form-group password-input">
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirme a nova senha" required>
          <button type="button" class="password-toggle">
            <img src="/image/Login/eye-off-icon.png" alt="Mostrar senha">
          </button>
          <div class="alert alert-danger text-center text-uppercase" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
        </div>

        <button class="login-button" title="Salvar">
          Salvar
        </button>
      </form>
    </div>
  </div>
  <script src="/script/scriptLogin.js"></script>
</div>
</body>
</html>